<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	<!--spring的配置文件  -->
	
	<!--组件扫描  -->
	<context:component-scan base-package="com.yzl.ssm">
		<!--只扫描不包含controller注解的包  -->
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!--数据源  -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<bean id="pooledDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	
	<!--配置mybatis的整合  -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--mybatis的全局配置文件  -->
		<property name="configLocation" value="classpath:mybatis-conf.xml"></property>
		<!--数据源配置  -->
		<property name="dataSource" ref="pooledDataSource"></property>
		<!--指定mapper文件的位置并扫描  -->
		<property name="mapperLocations" value="classpath:mapper/*.xml"></property>
	</bean>
	
	<!--配置mybatis的扫描dao下的所有接口  -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!--将所有的dao下的接口全部注入到ioc容器中  -->
		<property name="basePackage" value="com.yzl.ssm.dao"></property>
	</bean>
	
	<!--事务控制  -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!--控制的数据源  -->
		<property name="dataSource" ref="pooledDataSource"></property>
	</bean>
	
	<!--开启基于注解的事务  但是一般较为复杂的事务可以听过xml配置的形式来使用 -->
	<aop:config>
		<!--任意修饰符，service包下，包括子包 所有方法任意参数  -->
		<aop:pointcut expression="*.com.yzl.ssm.service..*(..))" id="txPoint"/>
		<aop:advisor advice-ref="txAdice" pointcut-ref="txPoint"/>
	</aop:config>
	
	<!--事务增强  事务如何切入-->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!--切入点切入的所有方法都是事务方法  -->
			<tx:method name="*"/>
			<!--所有get开头的请求都表查询数据，开启事务增强  -->
			<tx:method name="get*" read-only="true"/>
		</tx:attributes>
	</tx:advice>
</beans>
